
/******* GENERAL *******/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #e7e7e7;
}

header, main {
    background-color: white;
}


/***** HEADER *****/
header {
    padding: 15px;
}

h1 {
    display: inline-block;
    vertical-align: middle;
}

#logo {
    vertical-align: middle;
}


/***** MAIN *****/

main {
    
    width: 900px;
    height: auto;
    margin: auto;
    margin-top: 50px;
}

.up-buttons {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    
}

.task-button {
    color: white;
    background-color: #48adf1;
    border-color: #48adf1;
}

.section-button {
    color: #b7babb;
    border-color: #b7babb;
}

hr {
    border: 2px #f6f6f6;
}

.section-upper {
    padding: 15px;
}
