
/******* GENERAL *******/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #e7e7e7;
}

header, main {
    background-color: white;
}


/***** HEADER *****/
header {
    padding: 15px;
}

h1 {
    display: inline-block;
    vertical-align: middle;
}

#logo {
    vertical-align: middle;
}


/***** MAIN *****/

main {
    
    width: 900px;
    height: auto;
    margin: auto;
    margin-top: 50px;
}

.up-buttons {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    
}

.task-button {
    color: white;
    background-color: #48adf1;
    border-color: #48adf1;
}

.section-button {
    color: #b7babb;
    border-color: #b7babb;
}

.section-upper {
    padding: 15px 0;
}


/***** LIST SECTION *****/

.circle {
    display: inline-block;
    border: 1px solid black;
    border-radius: 100px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}

.--check {
    border-color: #8dcb63;
    color: #8dcb63;
}

.--cross{
    border-color: red;
    color: red;
}