
/******* GENERAL *******/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #e7e7e7;
}

header {
    background-color: white;
}


/***** HEADER *****/
header {
    padding: 15px;
}

h1 {
    display: inline-block;
    vertical-align: middle;
}

h3 {
    margin: 5px 0;
    display: inline-block;
}

.entity {
    display: inline-block;
}

#logo {
    vertical-align: middle;
}


/***** MAIN *****/

main {
    
    width: 700px;
    height: auto;
    margin: auto;
    margin-top: 50px;
}

.upper-container {
    margin-bottom: 2px;
    background-color: white;
    padding: 15px 50px;
    border-radius: 5px;
}

.lower-container {
    background-color: white;
    padding: 50px;
    border-radius: 5px;
}

.up-buttons {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    
}

.task-button {
    color: white;
    background-color: #48adf1;
    border-color: #48adf1;
}

.section-button {
    color: #b7babb;
    border-color: #b7babb;
}


/***** LIST SECTION *****/

.circle {
    display: inline-block;
    border: 1px solid black;
    border-radius: 100px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}

.--check {
    border-color: #8dcb63;
    color: #8dcb63;
}

.--cross{
    border-color: red;
    color: red;
}

/***** LATERAL BUTTONS *****/

.item-list {
    display: inline-block;
    font-size: 18px;
    margin: 10px 5px;
}

.lateral-button {
    color: white;
    border-radius: 15px;
    padding: 5px;
    font-size: small;
}

.--blu {
    background-color: #48adf1;
}
.--verde {
    background-color: #63c0a9;
}
.--arancione {
    background-color: #f29e33;
}
.--viola {
    background-color: #9c72e4;
}
.--fucsia {
    background-color: #d763a1;
}
.--pistacchio {
    background-color: #b0c925;
}